<article class="container">

  <section class="top">
    <app-btn-back></app-btn-back>
    <h2 class="title">Мой профиль</h2>
  </section>

  <section class="user-info">
    <!-- <img src="assets/images/edit.svg" alt=""> -->
    <form class="form" action="">
      <div class="block-inputs">
        <input class="input" type="text" placeholder="Имя">
        <input class="input" type="text" placeholder="Логин">
        <input class="input" type="password" placeholder="Пароль">
      </div>
      <textarea class="textarea" cols="30" rows="10" placeholder="Напишите немного о себе"></textarea>
    </form>
  </section>

  <section class="profile-info">
    <app-card-info-profile text="Всего рецептов"></app-card-info-profile>
    <app-card-info-profile text="Всего лайков"></app-card-info-profile>
    <app-card-info-profile text="В избранных"></app-card-info-profile>
  </section>

  <section class="my-recipes">
    <h3 class="my-recipes__title">Мои рецепты</h3>
    <div class="my-recipes__recipes">

    </div>
  </section>
</article>
