.back
{
  display: flex;
  width: 105px;
  height: 27px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.back:hover
{
  background-color: rgb(247, 241, 241);
}

.back:active
{
  background-color: rgb(255, 203, 203);
}

.back__text
{
   margin-left: 10px;
   font-weight: 500;
   font-size: 18px;
   color: #FDB100;
}

