.top
{
   display: flex;
   margin: 0 auto;
   margin-top: 40px;
   max-width: 1200px;
}

.logo
{
   max-width: 99px;
   min-height: 29px;
   margin-right: 80px;
}

.top__interactive
{
   display: flex;
   width: 1020px;
   justify-content: space-between;
   align-items: center;
}

.navigation
{
   display: flex;
}

.navigation__item
{
  margin-right: 40px;
  color: #9196A1;
  font-size: 18px;
  line-height: 22px;
}

.navigation__item:last-child
{
   margin-right: 0;
}

.navigation__item:active
{
   color: #3A3C41;
   font-weight: 600;
}

.li_none-point
{
   list-style-type: none;
   font-size: 18px;
}
