<div class="popup-bg">
  <div class="popup">
    <button class="close-popup" (click)="close()"><img src="assets/images/close.svg" alt=""></button>
    <h3 class="popup_title">Войдите в профиль</h3>
    <p class="text">Добавлять рецепты могут только зарегистрированные пользователи.</p>
    <button class="sign-in btn_orange btn_orange_long" (click)="showPopupSignIn()">Войти</button>
    <button class="sign-up btn_transparent btn_transparent_midle" (click)="showPopupSignUp()">Регистрация</button>
  </div>
</div>
