<div class="recipe">
  <!-- <div class="name-autor">@glazest</div> -->
  <img class="recipe__img" src="assets/images/recipe-background.png" alt="">
  <div class="recipe__content">

    <div class="recipe-content__top">

      <div class="recipe-content__retings">
        <button class="recipe-content__reting">
          <img class="recipe-content-reting__img" src="assets/images/like.svg" alt="">
          <span>{{recipeLikesCount}}</span>
        </button>

        <button class="recipe-content__reting">
          <img class="recipe-content-reting__img" src="assets/images/timer.svg" alt="">
          <span>{{cookingTime}}</span>
          <p class="recipe-content-reting__text">минут</p>
        </button>
      </div>

    </div>

    <div class="recipe-of-day">
      <img class="recipe-of-day__image" src="assets/images/text-recipe-of-day.svg" alt="">
      <div class="elipse">
        <img src="assets/images/yummy.svg" alt="">
      </div>
    </div>

    <div class="recipe-content__descriprion">
      <h3 class="recipe-content-descriprion__title">{{title}}</h3>
      <p class="recipe-content-descriprion__text">{{description}}</p>
    </div>

  </div>
</div>
